In [ ]:
# pip install sql-metadata

In [2]:
import pandas as pd
import warnings; warnings.filterwarnings('ignore')
from sql_metadata import Parser
import psycopg2
import psycopg2.extras

In [3]:
conn = psycopg2.connect("dbname=dvdrental host='192.168.16.16' user='ags14' port=5430 password='bitnine123!'")
conn.autocommit = True
cursor = conn.cursor(cursor_factory=psycopg2.extras.RealDictCursor)

In [40]:
# # extract raw sql-metadata tokens
# tables = Parser("""
# SELECT category.name, AVG(film.rental_rate) AS average_rental_rate
# FROM category
# JOIN film_category ON category.category_id = film_category.category_id
# JOIN film ON film_category.film_id = film.film_id
# GROUP BY category.name;
# """).tables
# (", ").join(tables)

'category, film_category, film'

In [4]:
# (", ").join(tables)

In [5]:
data = pd.read_csv('SQL_querylogs_dataset - dvdrental.csv')
data.head()

,query,action,detail,ref,쿼리\n작동 여부,쿼리 적합성,쿼리 처리 소요시간(ms)\n(최적화 전),쿼리 처리 소요시간(ms)\n(최적화 후),비고,Unnamed: 9,Unnamed: 10,최적화 전,최적화 후
0,"SELECT customer_id, COUNT(rental_id) AS total_...",고객별 총 대여 횟수 조회,rental 테이블에서 고객별로 rental_id를 카운트,rental,O,NaN,NaN,-,NaN,NaN,쿼리 처리 소요시간 평균(ms),NaN,NaN
1,"SELECT inventory.film_id, AVG(return_date - re...",각 영화의 평균 대여 기간 계산,rental 테이블과 inventory 테이블을 조인하여 영화별로 대여 기간의 평균...,"rental, inventory",O,NaN,NaN,-,NaN,NaN,NaN,NaN,NaN
2,"SELECT customer_id, genre, MAX(genre_count) AS...",각 고객별로 가장 많이 대여한 장르 조회,RANK() 함수로 각 고객별로 장르 대여 횟수에 따라 순위를 매김. PARTIT...,"rental, inventory, film_category, category",O,NaN,NaN,-,NaN,NaN,NaN,NaN,NaN
3,SELECT EXTRACT(YEAR FROM rental_date) AS renta...,모든 고객의 대여 기록이 있는 월별 대여 횟수,rental 테이블에서 연도와 월을 추출하여 그 기간 동안의 총 대여 횟수를 집계,rental,O,NaN,NaN,-,NaN,NaN,NaN,NaN,NaN
4,"SELECT film.film_id, title, SUM(amount) AS tot...",각 영화에 대한 총 수익 조회\n\n,"payment, rental, inventory, film 테이블을 조인하여 각 영...","payment, rental, inventory, film",O,NaN,NaN,-,NaN,NaN,NaN,NaN,NaN

In [6]:
sample_audit = pd.read_csv('sample_agaudit-2024-04-13-16-00-00.csv', header=None)
sample_audit.head()

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,2024-04-13 16:04:46.112 KST,ags14,dvdrental,40580,192.168.16.16:38676,661a2df4.9e84,1,SELECT,2024-04-13 16:02:12 KST,3/330,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,READ,NaN,statement
1,2024-04-13 16:04:46.112 KST,ags14,dvdrental,40580,192.168.16.16:38676,661a2df4.9e84,2,SELECT,2024-04-13 16:02:12 KST,3/331,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,READ,NaN,statement
2,2024-04-13 16:04:46.112 KST,ags14,dvdrental,40580,192.168.16.16:38676,661a2df4.9e84,3,SELECT,2024-04-13 16:02:12 KST,3/332,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,READ,NaN,statement
3,2024-04-13 16:04:46.112 KST,ags14,dvdrental,40580,192.168.16.16:38676,661a2df4.9e84,4,SELECT,2024-04-13 16:02:12 KST,3/333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,READ,NaN,statement
4,2024-04-13 16:04:46.112 KST,ags14,dvdrental,40580,192.168.16.16:38676,661a2df4.9e84,5,SELECT,2024-04-13 16:02:12 KST,3/334,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,READ,NaN,statement

In [ ]:
def trim(query):
    return query.replace('"'," ").replace("\n"," ").strip()

In [20]:
queries = [trim(i) for i in sample_audit[13]]
queries[:5]

['SELECT customer_id, COUNT(rental_id) AS total_rentals FROM rental GROUP BY customer_id;',
 'SELECT inventory.film_id, AVG(return_date - rental_date) AS average_rental_duration FROM rental JOIN inventory ON rental.inventory_id = inventory.inventory_id GROUP BY inventory.film_id;',
 'WITH GenreCounts AS (   SELECT      rental.customer_id,      category.name AS genre,      COUNT(*) AS genre_count,     MAX(COUNT(*)) OVER (PARTITION BY rental.customer_id) AS max_genre_count   FROM rental   JOIN inventory ON rental.inventory_id = inventory.inventory_id   JOIN film_category ON inventory.film_id = film_category.film_id   JOIN category ON film_category.category_id = category.category_id   GROUP BY rental.customer_id, category.name ) SELECT    customer_id,    genre,    genre_count AS max_genre_count FROM GenreCounts WHERE genre_count = max_genre_count;',
 'SELECT EXTRACT(YEAR FROM rental_date) AS rental_year, EXTRACT(MONTH FROM rental_date) AS rental_month, COUNT(rental_id) AS total_rentals FROM rental GROUP BY rental_year, rental_month;',
 'SELECT film.film_id, title, SUM(amount) AS total_revenue FROM payment JOIN rental ON payment.rental_id = rental.rental_id JOIN inventory ON rental.inventory_id = inventory.inventory_id JOIN film ON inventory.film_id = film.film_id GROUP BY film.film_id, title;']

In [21]:
cooc_tables = []
for i in queries:
    tables = Parser(f"""{i}""").tables
    cooc_tables.append(tables)
cooc_tables[:5]

[['rental'],
 ['rental', 'inventory'],
 ['rental', 'inventory', 'film_category', 'category'],
 ['rental'],
 ['payment', 'rental', 'inventory', 'film']]

In [156]:
len(cooc_tables)

101

In [159]:
cursor.execute(f"""
                SET search_path TO ag_catalog;
                """)

In [162]:
def update_edge_count(table1, table2):
    cursor.execute(f"""
                  SELECT * FROM cypher('graph_v2',$$
                  MATCH (v1:table {{ table_name:'{table1}' }})-[r]-(v2:table {{ table_name:'{table2}' }})
                  SET r.count = r.count + 1
                  RETURN r.count 
                  $$) as (count agtype);
                  """)
    updated_count = int(cursor.fetchall()[0]['count'])
    print(f'edge count between {table1} and {table2} has been updated from {updated_count-1} to {updated_count}')

In [163]:
for n, cooc_table in enumerate(cooc_tables):
    print(f'\nquery {n}')
    cooc_table_len = len(cooc_table)
    try:
        if cooc_table_len <= 1:
            print('No relation are found')
            continue
        else:
            num_rel = cooc_table_len-1
            print(f'num_relation: {num_rel}')
            range_num_rel = range(num_rel)
            for idx in range_num_rel:
                table1, table2 = cooc_table[idx], cooc_table[idx+1]
                print(f'\njoined tables: {table1}, {table2}')
                update_edge_count(table1, table2)
    except IndexError:
        continue

query 0
No relation are found

query 1
num_relation: 1

joined tables: rental, inventory
edge count between rental and inventory has been updated from 2 to 3

query 2
num_relation: 3

joined tables: rental, inventory
edge count between rental and inventory has been updated from 3 to 4

joined tables: inventory, film_category

query 3
No relation are found

query 4
num_relation: 3

joined tables: payment, rental
edge count between payment and rental has been updated from 0 to 1

joined tables: rental, inventory
edge count between rental and inventory has been updated from 4 to 5

joined tables: inventory, film
edge count between inventory and film has been updated from 0 to 1

query 5
num_relation: 2

joined tables: rental, inventory
edge count between rental and inventory has been updated from 5 to 6

joined tables: inventory, film
edge count between inventory and film has been updated from 1 to 2

query 6
num_relation: 3

joined tables: film, inventory
edge count between film and inventory has been updated from 2 to 3

joined tables: inventory, rental
edge count between inventory and rental has been updated from 6 to 7

joined tables: rental, payment
edge count between rental and payment has been updated from 1 to 2

query 7
No relation are found

query 8
num_relation: 3

joined tables: rental, inventory
edge count between rental and inventory has been updated from 7 to 8

joined tables: inventory, film_category

query 9
num_relation: 1

joined tables: rental, staff
edge count between rental and staff has been updated from 0 to 1

query 10
num_relation: 2

joined tables: payment, staff
edge count between payment and staff has been updated from 0 to 1

joined tables: staff, store
edge count between staff and store has been updated from 0 to 1

query 11
num_relation: 3

joined tables: rental, inventory
edge count between rental and inventory has been updated from 8 to 9

joined tables: inventory, film_actor

query 12
num_relation: 2

joined tables: rental, inventory
edge count between rental and inventory has been updated from 9 to 10

joined tables: inventory, film
edge count between inventory and film has been updated from 3 to 4

query 13
num_relation: 4

joined tables: rental, inventory
edge count between rental and inventory has been updated from 10 to 11

joined tables: inventory, film
edge count between inventory and film has been updated from 4 to 5

joined tables: film, film_category
edge count between film and film_category has been updated from 0 to 1

joined tables: film_category, category
edge count between film_category and category has been updated from 0 to 1

query 14
num_relation: 2

joined tables: rental, inventory
edge count between rental and inventory has been updated from 11 to 12

joined tables: inventory, film
edge count between inventory and film has been updated from 5 to 6

query 15
num_relation: 2

joined tables: category, film_category
edge count between category and film_category has been updated from 1 to 2

joined tables: film_category, film
edge count between film_category and film has been updated from 1 to 2

query 16
num_relation: 2

joined tables: rental, inventory
edge count between rental and inventory has been updated from 12 to 13

joined tables: inventory, film
edge count between inventory and film has been updated from 6 to 7

query 17
num_relation: 2

joined tables: film, film_category
edge count between film and film_category has been updated from 2 to 3

joined tables: film_category, category
edge count between film_category and category has been updated from 2 to 3

query 18
num_relation: 1

joined tables: rental, inventory
edge count between rental and inventory has been updated from 13 to 14

query 19
num_relation: 3

joined tables: film, inventory
edge count between film and inventory has been updated from 7 to 8

joined tables: inventory, rental
edge count between inventory and rental has been updated from 14 to 15

joined tables: rental, payment
edge count between rental and payment has been updated from 2 to 3

query 20
No relation are found

query 21
num_relation: 2

joined tables: store, inventory

query 22
num_relation: 1

joined tables: actor, film_actor
edge count between actor and film_actor has been updated from 0 to 1

query 23
num_relation: 2

joined tables: film, inventory
edge count between film and inventory has been updated from 8 to 9

joined tables: inventory, rental
edge count between inventory and rental has been updated from 15 to 16

query 24
No relation are found

query 25
num_relation: 2

joined tables: actor, film_actor
edge count between actor and film_actor has been updated from 1 to 2

joined tables: film_actor, film
edge count between film_actor and film has been updated from 0 to 1

query 26
num_relation: 2

joined tables: rental, inventory
edge count between rental and inventory has been updated from 16 to 17

joined tables: inventory, film
edge count between inventory and film has been updated from 9 to 10

query 27
num_relation: 4

joined tables: category, film_category
edge count between category and film_category has been updated from 3 to 4

joined tables: film_category, film
edge count between film_category and film has been updated from 3 to 4

joined tables: film, inventory
edge count between film and inventory has been updated from 10 to 11

joined tables: inventory, rental
edge count between inventory and rental has been updated from 17 to 18

query 28
num_relation: 5

joined tables: rental, inventory
edge count between rental and inventory has been updated from 18 to 19

joined tables: inventory, film
edge count between inventory and film has been updated from 11 to 12

joined tables: film, film_category
edge count between film and film_category has been updated from 4 to 5

joined tables: film_category, category
edge count between film_category and category has been updated from 4 to 5

joined tables: category, customer

query 29
num_relation: 2

joined tables: actor, film_actor
edge count between actor and film_actor has been updated from 2 to 3

joined tables: film_actor, film
edge count between film_actor and film has been updated from 1 to 2

query 30
num_relation: 2

joined tables: store, staff
edge count between store and staff has been updated from 1 to 2

joined tables: staff, payment
edge count between staff and payment has been updated from 1 to 2

query 31
num_relation: 1

joined tables: customer, rental
edge count between customer and rental has been updated from 0 to 1

query 32
num_relation: 4

joined tables: category, film_category
edge count between category and film_category has been updated from 5 to 6

joined tables: film_category, film
edge count between film_category and film has been updated from 5 to 6

joined tables: film, inventory
edge count between film and inventory has been updated from 12 to 13

joined tables: inventory, rental
edge count between inventory and rental has been updated from 19 to 20

query 33
num_relation: 2

joined tables: film, inventory
edge count between film and inventory has been updated from 13 to 14

joined tables: inventory, rental
edge count between inventory and rental has been updated from 20 to 21

query 34
num_relation: 1

joined tables: customer, payment
edge count between customer and payment has been updated from 0 to 1

query 35
num_relation: 1

joined tables: actor, film_actor
edge count between actor and film_actor has been updated from 3 to 4

query 36
num_relation: 2

joined tables: actor, film_actor
edge count between actor and film_actor has been updated from 4 to 5

joined tables: film_actor, film
edge count between film_actor and film has been updated from 2 to 3

query 37
num_relation: 2

joined tables: customer, address
edge count between customer and address has been updated from 0 to 1

joined tables: address, city
edge count between address and city has been updated from 0 to 1

query 38
num_relation: 2

joined tables: customer, address
edge count between customer and address has been updated from 1 to 2

joined tables: address, city
edge count between address and city has been updated from 1 to 2

query 39
No relation are found

query 40
num_relation: 3

joined tables: customer, rental
edge count between customer and rental has been updated from 1 to 2

joined tables: rental, inventory
edge count between rental and inventory has been updated from 21 to 22

joined tables: inventory, film
edge count between inventory and film has been updated from 14 to 15

query 41
num_relation: 2

joined tables: film, film_actor
edge count between film and film_actor has been updated from 3 to 4

joined tables: film_actor, actor
edge count between film_actor and actor has been updated from 5 to 6

query 42
num_relation: 4

joined tables: category, film_category
edge count between category and film_category has been updated from 6 to 7

joined tables: film_category, film
edge count between film_category and film has been updated from 6 to 7

joined tables: film, inventory
edge count between film and inventory has been updated from 15 to 16

joined tables: inventory, rental
edge count between inventory and rental has been updated from 22 to 23

query 43
No relation are found

query 44
num_relation: 1

joined tables: staff, payment
edge count between staff and payment has been updated from 2 to 3

query 45
num_relation: 3

joined tables: rental, customer
edge count between rental and customer has been updated from 2 to 3

joined tables: customer, inventory

query 46
num_relation: 1

joined tables: customer, rental
edge count between customer and rental has been updated from 3 to 4

query 47
num_relation: 2

joined tables: category, film_category
edge count between category and film_category has been updated from 7 to 8

joined tables: film_category, film
edge count between film_category and film has been updated from 7 to 8

query 48
No relation are found

query 49
num_relation: 4

joined tables: store, staff
edge count between store and staff has been updated from 2 to 3

joined tables: staff, rental
edge count between staff and rental has been updated from 1 to 2

joined tables: rental, address

query 50
num_relation: 2

joined tables: customer, rental
edge count between customer and rental has been updated from 4 to 5

joined tables: rental, payment
edge count between rental and payment has been updated from 3 to 4

query 51
num_relation: 2

joined tables: category, film_category
edge count between category and film_category has been updated from 8 to 9

joined tables: film_category, film
edge count between film_category and film has been updated from 8 to 9

query 52
No relation are found

query 53
num_relation: 1

joined tables: address, customer
edge count between address and customer has been updated from 2 to 3

query 54
No relation are found

query 55
num_relation: 4

joined tables: store, address
edge count between store and address has been updated from 0 to 1

joined tables: address, city
edge count between address and city has been updated from 2 to 3

joined tables: city, staff

query 56
num_relation: 2

joined tables: category, film_category
edge count between category and film_category has been updated from 9 to 10

joined tables: film_category, film
edge count between film_category and film has been updated from 9 to 10

query 57
num_relation: 1

joined tables: customer, rental
edge count between customer and rental has been updated from 5 to 6

query 58
num_relation: 3

joined tables: film, inventory
edge count between film and inventory has been updated from 16 to 17

joined tables: inventory, rental
edge count between inventory and rental has been updated from 23 to 24

joined tables: rental, payment
edge count between rental and payment has been updated from 4 to 5

query 59
num_relation: 4

joined tables: category, film_category
edge count between category and film_category has been updated from 10 to 11

joined tables: film_category, film
edge count between film_category and film has been updated from 10 to 11

joined tables: film, film_actor
edge count between film and film_actor has been updated from 4 to 5

joined tables: film_actor, actor
edge count between film_actor and actor has been updated from 6 to 7

query 60
num_relation: 3

joined tables: country, city
edge count between country and city has been updated from 0 to 1

joined tables: city, address
edge count between city and address has been updated from 3 to 4

joined tables: address, customer
edge count between address and customer has been updated from 3 to 4

query 61
num_relation: 1

joined tables: rental, payment
edge count between rental and payment has been updated from 5 to 6

query 62
num_relation: 1

joined tables: customer, rental
edge count between customer and rental has been updated from 6 to 7

query 63
No relation are found

query 64
num_relation: 5

joined tables: store, staff
edge count between store and staff has been updated from 3 to 4

joined tables: staff, rental
edge count between staff and rental has been updated from 2 to 3

joined tables: rental, customer
edge count between rental and customer has been updated from 7 to 8

joined tables: customer, address
edge count between customer and address has been updated from 4 to 5

joined tables: address, city
edge count between address and city has been updated from 4 to 5

query 65
num_relation: 2

joined tables: category, film_category
edge count between category and film_category has been updated from 11 to 12

joined tables: film_category, film
edge count between film_category and film has been updated from 11 to 12

query 66
num_relation: 1

joined tables: customer, rental
edge count between customer and rental has been updated from 8 to 9

query 67
num_relation: 4

joined tables: category, film_category
edge count between category and film_category has been updated from 12 to 13

joined tables: film_category, film
edge count between film_category and film has been updated from 12 to 13

joined tables: film, film_actor
edge count between film and film_actor has been updated from 5 to 6

joined tables: film_actor, actor
edge count between film_actor and actor has been updated from 7 to 8

query 68
num_relation: 2

joined tables: customer, rental
edge count between customer and rental has been updated from 9 to 10

joined tables: rental, payment
edge count between rental and payment has been updated from 6 to 7

query 69
num_relation: 1

joined tables: rental, customer
edge count between rental and customer has been updated from 10 to 11

query 70
num_relation: 3

joined tables: country, city
edge count between country and city has been updated from 1 to 2

joined tables: city, address
edge count between city and address has been updated from 5 to 6

joined tables: address, customer
edge count between address and customer has been updated from 5 to 6

query 71
num_relation: 2

joined tables: film, inventory
edge count between film and inventory has been updated from 17 to 18

joined tables: inventory, rental
edge count between inventory and rental has been updated from 24 to 25

query 72
num_relation: 2

joined tables: store, staff
edge count between store and staff has been updated from 4 to 5

joined tables: staff, rental
edge count between staff and rental has been updated from 3 to 4

query 73
num_relation: 4

joined tables: category, film_category
edge count between category and film_category has been updated from 13 to 14

joined tables: film_category, film
edge count between film_category and film has been updated from 13 to 14

joined tables: film, film_actor
edge count between film and film_actor has been updated from 6 to 7

joined tables: film_actor, actor
edge count between film_actor and actor has been updated from 8 to 9

query 74
num_relation: 1

joined tables: customer, rental
edge count between customer and rental has been updated from 11 to 12

query 75
num_relation: 2

joined tables: category, film_category
edge count between category and film_category has been updated from 14 to 15

joined tables: film_category, film
edge count between film_category and film has been updated from 14 to 15

query 76
num_relation: 2

joined tables: actor, film_actor
edge count between actor and film_actor has been updated from 9 to 10

joined tables: film_actor, film
edge count between film_actor and film has been updated from 7 to 8

query 77
num_relation: 2

joined tables: film, film_actor
edge count between film and film_actor has been updated from 8 to 9

joined tables: film_actor, actor
edge count between film_actor and actor has been updated from 10 to 11

query 78
num_relation: 2

joined tables: customer, rental
edge count between customer and rental has been updated from 12 to 13

joined tables: rental, staff
edge count between rental and staff has been updated from 4 to 5

query 79
num_relation: 2

joined tables: category, film_category
edge count between category and film_category has been updated from 15 to 16

joined tables: film_category, film
edge count between film_category and film has been updated from 15 to 16

query 80
num_relation: 2

joined tables: actor, film_actor
edge count between actor and film_actor has been updated from 11 to 12

joined tables: film_actor, film
edge count between film_actor and film has been updated from 9 to 10

query 81
num_relation: 2

joined tables: category, film_category
edge count between category and film_category has been updated from 16 to 17

joined tables: film_category, film
edge count between film_category and film has been updated from 16 to 17

query 82
num_relation: 1

joined tables: rental, payment
edge count between rental and payment has been updated from 7 to 8

query 83
num_relation: 1

joined tables: customer, rental
edge count between customer and rental has been updated from 13 to 14

query 84
num_relation: 2

joined tables: city, address
edge count between city and address has been updated from 6 to 7

joined tables: address, customer
edge count between address and customer has been updated from 6 to 7

query 85
num_relation: 2

joined tables: category, film_category
edge count between category and film_category has been updated from 17 to 18

joined tables: film_category, film
edge count between film_category and film has been updated from 17 to 18

query 86
num_relation: 2

joined tables: country, city
edge count between country and city has been updated from 2 to 3

joined tables: city, address
edge count between city and address has been updated from 7 to 8

query 87
num_relation: 2

joined tables: customer, rental
edge count between customer and rental has been updated from 14 to 15

joined tables: rental, staff
edge count between rental and staff has been updated from 5 to 6

query 88
num_relation: 1

joined tables: rental, customer
edge count between rental and customer has been updated from 15 to 16

query 89
num_relation: 4

joined tables: category, film_category
edge count between category and film_category has been updated from 18 to 19

joined tables: film_category, film
edge count between film_category and film has been updated from 18 to 19

joined tables: film, film_actor
edge count between film and film_actor has been updated from 10 to 11

joined tables: film_actor, actor
edge count between film_actor and actor has been updated from 12 to 13

query 90
num_relation: 2

joined tables: customer, rental
edge count between customer and rental has been updated from 16 to 17

joined tables: rental, payment
edge count between rental and payment has been updated from 8 to 9

query 91
num_relation: 4

joined tables: store, staff
edge count between store and staff has been updated from 5 to 6

joined tables: staff, rental
edge count between staff and rental has been updated from 6 to 7

joined tables: rental, inventory
edge count between rental and inventory has been updated from 25 to 26

joined tables: inventory, film
edge count between inventory and film has been updated from 18 to 19

query 92
num_relation: 3


In [134]:
cursor.execute(f"""
                SET search_path TO ag_catalog;
                """)

In [93]:
cursor.execute("""
                  SELECT * FROM cypher('graph_v2',$$
                  MATCH (v1:table {table_name:'rental'})-[r]->(v2:table {table_name:'inventory'}) 
                  RETURN r.count 
                  $$) as (count agtype);
                """)
output = int(cursor.fetchall()[0]['count'])
output

3

In [91]:
cursor.execute("""
                  SELECT * FROM cypher('graph_v2',$$
                  MATCH (v1:table {table_name:'rental'})<-[r:ref]-(v2:table {table_name:'inventory'}) 
                  SET r.count = 13
                  RETURN r.count 
                  $$) as (count agtype);
                """)
output = int(cursor.fetchall()[0]['count'])
output

IndexError: list index out of range

In [114]:
def update_edge_count(table1, table2):
    cursor.execute(f"""
                  SELECT * FROM cypher('graph_v2',$$
                  MATCH (v1:table {{ table_name:'{table1}' }})-[r]-(v2:table {{ table_name:'{table2}' }}) 
                  RETURN r.count
                  $$) as (count agtype);
                  """)
    old_count = int(cursor.fetchall()[0]['count'])
    updated_count = old_count + 1
    cursor.execute(f"""
                  SELECT * FROM cypher('graph_v2',$$
                  MATCH (v1:table {{ table_name:'{table1}' }})-[r]-(v2:table {{ table_name:'{table2}' }})
                  SET r.count = {updated_count}
                  RETURN r.count 
                  $$) as (count agtype);
                  """)
    updated_check = int(cursor.fetchall()[0]['count'])
    print(f'  edge count between {table1} and {table2} has been updated from {old_count} to {updated_count}')

In [83]:
update_edge_count('city', 'address')

edge count between city and address has been updated from 15 to 16

In [ ]:
SELECT * FROM cypher('graph_v2',$$
MATCH (v1:table)<-[r:fkey]-(v2:table) 
RETURN r.count 
$$) as (count agtype);

In [ ]:
# def update_edge_count(table1, table2):
#     cursor.execute(f"""
#                   SELECT * FROM cypher('graph_v2',$$
#                   MATCH (v1:table {{ table_name:'{table1}' }})-[r]-(v2:table {{ table_name:'{table2}' }}) 
#                   RETURN r.count
#                   $$) as (count agtype);
#                   """)
#     old_count = int(cursor.fetchall()[0]['count'])
#     updated_count = old_count + 1
#     cursor.execute(f"""
#                   SELECT * FROM cypher('graph_v2',$$
#                   MATCH (v1:table {{ table_name:'{table1}' }})-[r]-(v2:table {{ table_name:'{table2}' }})
#                   SET r.count = {updated_count}
#                   RETURN r.count 
#                   $$) as (count agtype);
#                   """)
#     updated_check = int(cursor.fetchall()[0]['count'])
#     print(f'edge count between {table1} and {table2} has been updated from {old_count} to {updated_count}')